In [1]:
import pandas as pd
from sqlalchemy import create_engine
import os

In [2]:
csv_file = os.path.join("..", "Resources", "COVID-19", "full_grouped.csv")
df = pd.read_csv(csv_file)
df.head()

,Date,Country/Region,Confirmed,Deaths,Recovered,Active,New cases,New deaths,New recovered,WHO Region
0,2020-01-22,Afghanistan,0,0,0,0,0,0,0,Eastern Mediterranean
1,2020-01-22,Albania,0,0,0,0,0,0,0,Europe
2,2020-01-22,Algeria,0,0,0,0,0,0,0,Africa
3,2020-01-22,Andorra,0,0,0,0,0,0,0,Europe
4,2020-01-22,Angola,0,0,0,0,0,0,0,Africa

In [4]:
nu_df = df[['Date', 'Country/Region', 'New cases']].copy()
nu_df.head()

         Date Country/Region  New cases
0  2020-01-22    Afghanistan          0
1  2020-01-22        Albania          0
2  2020-01-22        Algeria          0
3  2020-01-22        Andorra          0
4  2020-01-22         Angola          0

In [ ]:
# pg_user = 'postgres'
# pg_password = 'postgres'
# db_name = 'covid19_db'

# connection_string = f"{pg_user}:{pg_password}@localhost:5432/{db_name}"
# engine = create_engine(f'postgresql://{connection_string}')